:root{
    --primary-color: rgb(173, 171, 171);
    --default-color: white;
    --loginbackground-color: rgb(219, 219, 219);
    --signbackground-color: rgb(223, 219, 219);
    --footerbackground-color: rgb(53, 52, 52);
}