.nav-heading{
    border: none;
    border-bottom: 1px solid var(--footerbackground-color);
}
.login-section{
    display: flex;
    gap: 1rem;
    text-align: center;
}
.badge-icon{
        font-size: 30px;

}
.badge-symbol{
    right: 5px;
}
.login-section{
    margin-right: 1rem;
}
