.filter-wrapper{
    height: auto;
    width: 16rem;
    flex: 0 0 auto;
    border-right: 1px solid ;
    background-color: var(--signbackground-color);
    position: relative;
}
.filter-heading{
    display: flex;
}
 
.filter-wrapper li{
    padding-left: 3rem;
    margin-top: 0.3rem;
}
.filter-subtitle{
    margin: 1rem 3rem 1rem 3rem;
    font-size: 1.3rem;
    font-weight: 500;
}
.shoetype-category,.sortedby-category,.rating-category{
    margin-bottom: 1rem;
}
.clear{
    padding: 2px;
    height: 2rem;
    top: 1rem;
    right: 2rem;
    position: absolute;
}
.filter-main-container{
    display: flex;
    justify-content: space-around;
}
.main-container{
    display: flex;
    flex-wrap: wrap;
}
.vertical-card{
    margin: 2rem 0 1rem 2.5rem;
    border-color: var(--signbackground-color);
}
.price,.image-title{
    font-size: 1.2rem;
    font-weight: 500;
}
.actual-price,.image-subtitle{
    color: var(--primary-color);
}
.buy-button{
    display: block;
    background-color: var(--buybutton-color);
}
.buy-button:hover{
    background-color: var(--signbackground-color);
    color: var(--footerbackground-color);
}
.discount{
    margin-right: 0.2rem;
    color: var(--discount-color);
}
.wiselist-tag{
    color: var(--wislist-color);
}
.range-input{
    text-align: center;
}